extends ../../layouts/default.pug

block main
  if(user.fullName)
    h1(class="mb-4") <b>#{user.fullName}</b>

  if (user.avatar)
    div(class="mb-4")
      img(
        src=user.avatar
        style="width: 100px"
      )

  if(user.email)
    div(class="mb-4") Email: <b>#{user.email}</b>

  if(user.phone)
    div(class="mb-4") Số điện thoại: <b>#{user.phone}</b>

  if(user.address)
    div(class="mb-4") Địa chỉ: <b>#{user.address}</b>

  if (user.status)
    div(class="mb-4")
      span Trạng thái: 
      if (user.status === "active")
        span(class="badge badge-success") Hoạt động
      else
        span(class="badge badge-danger") Dừng hoạt động
