extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-5
    .row.justify-content-center
      .col-md-6.col-lg-5
        +box-head(pageTitle)
        .card.shadow-sm
          .card-body
            form(
              action="/user/password/otp"
              method="POST"
            )
              .form-group.mb-3
                label(for="email") Email
                input(
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  required
                  readonly
                  value=email
                )
              .form-group.mb-3
                label(for="otp") Mã OTP
                input(
                  type="text"
                  class="form-control"
                  id="otp"
                  name="otp"
                  required
                )
              .form-group.mb-4
                button(
                  type="submit"
                  class="btn btn-primary btn-block"
                ) Xác thực